# Custom
/output
/log
ylwrap
test-driver
ltmain.sh
config.guess
config.sub
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.dot
.idea*
cmake*
CMake*
INSTALL

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# http://www.gnu.org/software/automake

Makefile.in
Makefile
/src/abc
/src/parser/lexer.cpp
/src/parser/location.hh
/src/parser/parser.cpp
/src/parser/parser.hpp
/src/parser/position.hh
/src/parser/stack.hh
.dirstamp
.libs
# http://www.gnu.org/software/autoconf

.deps
.autotools
/config.log
/config.status
/libtool
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1i

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
