[submodule "external/googletest"]
	path = external/googletest
	url = http://git.chromium.org/external/googletest.git
[submodule "external/glog"]
	path = external/glog
	url = https://github.com/google/glog.git
