[submodule "external/glog"]
	path = external/glog
	url = https://github.com/google/glog.git
[submodule "external/LibStranger"]
	path = external/LibStranger
	url = git@github.com:vlab-cs-ucsb/LibStranger.git
